/** Custom Fonts **/

@font-face{
    src: url('font/GothamRoundedMedium.woff');
    font-family: gothamMedium;
}
@font-face{
    src: url('font/GothamRoundedBold.woff');
    font-family: gothamBold;
}
@font-face{
    src: url('font/Hero Light.otf');
    font-family: gotham;
}


h1,
h2,
h3,
h4,
h5,
h6{
    font-family: gothamBold;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bold{
    font-family: gothamBold !important;
}
p,
a,
span{
    
    letter-spacing: 3px;
}


body{
    background: #000000;
    font-family: gothamMedium;
}

.width-wrapper{
    max-width: 1280px;
    margin: auto;
}
.container{
    max-width: 1025px;
}


.header{
    background: url('images/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-green{
    background: #16a085;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 15px 30px;
    font-weight: lighter;
    border-radius: 3px;
}

.btn-green:hover{
    background: #168d76;
    color: #fff;
}
.top-navigation{
    padding-top: 40px;
    padding-bottom: 10px;
}
.nav-left .nav-item .nav-link,
.nav-right .nav-item .nav-link{
    color: #fff;
    padding-top: 25px;
    padding-right: 35px;
    padding-left: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}


.hero-content{
    padding: 225px 0;
}

.hero-content .title{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 36px;
    font-family: gothamBold;
}

.hero-content .subtitle{
    letter-spacing: 3px;
    font-size: 15px;
    padding-bottom: 5px;
}

.social-nav .nav .nav-item .nav-link{
    padding: 0 10px 20px 10px;
}

.info{
    background: #f5f6f7;
    padding-top: 90px;
}
.info img{
    margin-left: -150px;
}
.info .heading{
    margin-top: 10px;
    max-width: 400px;
}
.subinfo{
    font-size: 12px;
    font-family: gotham;
    line-height: 22px;
    margin: 40px 0;
}



.heading{
    font-size: 18px;  
}
.heading-primary{
    color: #0eb280;
}

.about{
    background: #fff;
    padding-top: 150px;
}
.arrow{
    margin-top: 20px;
}
.arrow-info{
    font-size: 12px;
    font-family: gothamBold;
    margin-bottom: 2px;
}
.arrow-icon a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

.gallery{
    background: #f5f6f7;
    padding: 80px 0 100px 0;
}

.hover-info{
    padding-top: 40px;  
}

.hover-title{
    font-family: gothamBold;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 15px;
    padding-top: 25px;
    padding-bottom: 10px;
}
.hover-subtitle{
    font-size: 9px;
}
.gallery .slider{
    width: 100%;
}

.subscribe{
    background: url(images/signback.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 300px 0;
}
.subscribe-heading{
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-bottom: 30px;
}
.subscribe-form{
    max-width: 340px;
    margin: auto;
}
.subscribe-form input{
    font-size: 18px;
    padding-left: 20px;
}
.subscribe-form input::placeholder{
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #373737;
    font-size: 16px;
}

.subscribe-form button{
    font-size: 40px;
    padding: 0 12px;
}
.download{
    padding: 100px;
    background: #F5F6F7;
}
.download-heading{
    text-align: center;
}
.download-subheading{
    text-align: center;
    font-family: gotham;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.download-buttons{
    max-width: 620px;
    margin: auto;
}

.download-buttons .btn-group .btn:first-child{
    padding: 12px 45px;
    background: #1ABC9C;
    font-size: 16px;
}
.download-buttons .btn-group .btn:nth-child(2){
    padding: 12px 15px;
     
}
.download-buttons .btn-group .btn-play{
        padding: 10px 52px !important;
    }
.download-buttons .btn-icon svg{
    width: 30px;
    height: 30px;
}

.footer{
    background: #fff;
    padding: 40px 0 20px 0;
}
.footer-nav{
    margin-bottom: 10px;
}
.footer-nav ul li a{
    text-decoration: none;
    padding: 0 10px;
    color: #000;
    border-right: 2px solid #16A085;
    text-transform: uppercase;
    font-size: 14px;
}
.footer-nav ul li:last-child a{
    border: none;
}

@media (max-width: 769px){
    .nav-left .float-right{
        float: none !important;
    }
    .nav-left,
    .nav-right{
        display: flex;
        justify-content: center;
    }
    .col-md-2{
        order: -1;
    }
    .info img{
        margin-left: 0;
        width: 100%;
    }
    .about{
        padding-bottom: 50px;
    }
    .about img{
        max-width: 200px;
        margin: auto;
        display: block;
    }
    .gallery .slider{
        width: 100%;
        margin-top: 20px;
    }
    .subscribe {
        padding: 140px 0;
    }
    .download-buttons .btn-group .btn{
        margin-bottom: 20px;
    }
    
}

@media (min-width: 992px){
    .info{
        max-height: 490px;
        overflow: hidden;
    }
    .about{
        max-height: 558px;
        overflow: hidden;
    }
    
    
}





